#audio-container {
  display: flex;
  flex-wrap: wrap;
  width: 100%;
  justify-content: center;
  padding: 20px;
}

#audio-wrapper {
  flex-basis: 800px;
  display: flex;
  flex-wrap: wrap;
}

#announcement {
  flex-basis: 100%;
}