#audio-container {
  display: flex;
  flex-wrap: wrap;
  width: 100%;
  justify-content: center;
  padding: 20px;
}

#audio-wrapper {
  flex-basis: 800px;
  display: flex;
  flex-wrap: wrap;
}

#announcement {
  flex-basis: 100%;
}

#firechat-wrapper {
  height: 475px;
  max-width: 325px;
  min-width: 500px;
  padding: 10px;
  border: 1px solid #ccc;
  background-color: #fff;
  margin: 50px auto;
  text-align: center;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  border-radius: 4px;
  -webkit-box-shadow: 0 5px 25px #666;
  -moz-box-shadow: 0 5px 25px #666;
  box-shadow: 0 5px 25px #666;
}
